body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




/* NAVIGATION -----------------------------------------------*/
/*-----------------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(115, 100, 158);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(187, 150, 223);
  }

  .active {
    background-color: #1b1b1b;
  }

  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }






  #ueberMichTitel {
    margin-top: 70px;
    padding-left: 30px;
  }

  #vorstellung {
      margin-top: 10px;
      padding-left: 30px;
  }

